@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Courgette&family=Source+Sans+Pro:wght@100;300;400;600;700&display=swap');

@font-face {
	font-family: 'Inter', sans-serif;
	src: url('./fonts/Inter-Regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.show {
	opacity: 1;
	transform: translateX(-30px); 
	transition: all 1s ease-in-out;
}

#tooltip1::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -1%;
	margin-top: -1.5px;
	border-width: 11px;
	border-style: solid;
	border-color: transparent #2d2c35 transparent transparent;
	transform: rotate(205deg);
}